#ignore builds
build/*

#ignore sublime project files
*.sublime-project
*.sublime-workspace

#ignore objects and archives
*.[oa]

#ignore haskell interface files
*.hi

#ignore binaries
bin/*
*.exe

dist/*

*.png
*.csv